h1{
	color:gray;
	text-align: center;
	word-spacing:5%;
	text-shadow: 30px 10px 3px red;
}
/*
This Css is for First H1
This is Id Selector
*/

#first-h1 {
	color: yellow;
	/*margin: 10px 5px 30px;
	margin-left: 10px;
	margin-right: 20px;*/
	
}

.similar{
	color: red;
}
.firstDiv{
	background-color: hsl(103, 56%, 40%);
	background-image: url("pink-flower.jpg");
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: top right;
	margin: 20px;
	padding:20px;
	border: 3px dotted;
	/*background-origin: content-box;*/
	background-clip: content-box;
}
#firstPara {
	background-color: pink;
	text-align: right;
	word-spacing: 20px;
	line-height: 20px;
	text-transform: uppercase;
	text-decoration-line: overline;
	text-decoration-style: dashed;
	text-decoration-thickness: 5px;
}