p{
    /*width: 50px;*/
    height: 50px;
    /*overflow: scroll;*/
    /*overflow-x: hidden;
    overflow-y:hidden;*/
    /*overflow:hidden;
    text-overflow: ellipsis;*/
    text-wrap: wrap;
    word-wrap:break-word;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}